* {
    box-sizing: border-box;
}
.container {
    padding: 0% 20% 10% 20%;
    background-color: #fce4ec;
    box-sizing: border-box;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
p{
    padding-left: 20px;
}
h1{
    border-radius: 10px;
    color: rgb(15, 1, 1);
}

.registerbtn {
    background-color: #4CAF50;
    color: white;
    /* padding-top: 10px; */
    padding-left: 0%;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 16px
}

.registerbtn:hover {
    opacity: 1;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus{
    background-color: #ddd;
    outline: none;
}

